
@{
    ViewData["Title"] = "Index";
}

<header class="page-header">
						<h2>Daily Well Readings</h2>

						<div class="right-wrapper text-end">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="bx bx-home-alt"></i>
									</a>
								</li>

								<li><span>Tables</span></li>

								<li><span>Advanced</span></li>

							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
						</div>
					</header>

<div class="row">
							<div class="col">
								<section class="card">
									<header class="card-header">
										<div class="card-actions">
											<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
											<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
										</div>

										<input type="button" style="background-color:black; color:white" class="btn btn-primary"  value="New Reading"/>
										<input type="button" style="background-color:black; color:white" class="btn btn-primary"  value="Import Data"/>
									</header>
									<div class="card-body">

										<table class="table table-bordered table-striped mb-0" id="datatable-tabletools">

											<thead>
												<tr>
													<th>Flow Station</th>
													<th>Well Name</th>
													<th>Time Online</th>
												<th>Deferement Reason</th>
													<th>Bean</th>
														<th>HP/LP</th>
														<th>BHP (psi)</th>
														<th>API</th>
														<th>Drawdown (psi)</th>
														<th>BSW (%)</th>
														<th>GOR (scf/bbl)</th>
															<th>FTHP (psi)</th>
																<th>FTHT (deg c)</th>
																<th>FTP (psi)</th>
																	<th>FLT (deg c)</th>
																		<th>Sand</th>
																		<th>Comments</th>
												</tr>
											</thead>
											<tbody>

												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>
												
												<tr>
													<td>Trident</td>
													<td>Internet xplorer 4.0</td>
													<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>
												<td>Win 95+</td>

												<td>Win 95+</td>
												</tr>

												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>
